<%= view_object(:nav_header, active: :poc ).html %>
<div class="core-l-list-page__body">
  <div class="core-l-list-page__body__content">
    <div class="core-padding-lg" style={{ background: '#f5f5f5', flex: 1 }}>
      <div class="core-card core-card--level-30">
        <div className="core-icon-layout core-icon-layout--count-2">
          <%= form_tag(purchase_order_contracts_path, method: "get") do %>
            <%= text_field_tag :search, params[:search], class: "core-input", placeholder: "Search for Origin ID" %>
            <div className="core-margin-r-xs core-margin-l-xs">
              <%= submit_tag 'Submit', class: "core-button core-button--md core-button--primary" %>
            </div>
          <% end %>
        </div>
        <div class="core-table">
          <table class="core-table__table sortable">
            <thead class="core-table__head">
              <tr class="core-table__head-row">
                <th class="core-table__th">
                  <div class="core-table__th__label">
                    Title
                  </div>
                </th>
                <th class="core-table__th core-table__th--sortable core-table__th--sortable-asc">
                  <div class="core-table__th__label">
                    Number
                  </div>
                </th>
                <th class="core-table__th core-table__th--sortable">
                  <div class="core-table__th__label">
                    Origin ID
                  </div>
                </th>
                <th class="core-table__th core-table__th--sortable">
                  <div class="core-table__th__label">
                    Origin Data
                  </div>
                </th>
                <th class="core-table__th core-table__th--sortable">
                  <div class="core-table__th__label">
                    Origin Code
                  </div>
                </th>
              </tr>
            </thead>

            <tbody class="core-table__body">
              <% @purchase_order_contracts.each do |contract| %>
              <tr class="core-table__body-row">
                <td class="core-table__td">
                  <label class="core-table__text-cell">
                    <%= contract['title'] %>
                  </label>
                </td>
                <td class="core-table__td">
                  <label class="core-table__text-cell">
                    <%= contract['number'] %>
                  </label>
                </td>
                <td class="core-table__td">
                  <label class="core-table__text-cell">
                    <%= contract['origin_id'] %>
                  </label>
                </td>
                <td class="core-table__td">
                  <label class="core-table__text-cell">
                    <%= contract['origin_data'] %>
                  </label>
                </td>
                <td class="core-table__td">
                  <label class="core-table__text-cell">
                    <%= contract['origin_code'] %>
                  </label>
                </td>
              </tr>
              <% end %>
            </tbody>

            <tfoot>

            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
