<%= form_tag(work_order_contracts_path, method: "get") do %>
  Search for Origin ID <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Submit', name: nil %>
<% end %>

  <table>
    <tr>
      <th> Contract Name</th>
      <th> Contract Number</th>
      <th> Origin ID </th>
      <th> Origin Data </th>
      <th> Origin Code </th>
    </tr>
    <tr>
      <% @work_order_contracts.each do |contract| %>
      <td><%=contract['title'] %></td>
      <td><%=contract['number'] %> </td>
      <td><%=contract['origin_id'] %> </td>
      <td><%=contract['origin_data'] %> </td>
      <td><%= contract['origin_code']%> </td>
    </tr>
    <% end %>

  </table>
