<!DOCTYPE html>
<html>
  <head>
    <title>External Data Viewer</title>
    <link rel="stylesheet" href="https://procore-core.global.ssl.fastly.net/latest/core-css/core.css"/>
    <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csp_meta_tag %>

    <link
      rel="stylesheet"
      href="https://procore-core.global.ssl.fastly.net/latest/core-css/core.css"
    />
    <link rel="stylesheet" href="https://procore-core.global.ssl.fastly.net/7.2.5/core-icons/icons.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
      <div class="wrapper">
        <%= yield %>
      </div>
    </body>
</html>
