<!DOCTYPE html>
<html>
  <head>
    <title>External Data Viewer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
      <div class="container">
          <ul class="nav nav-tabs">
            <li><%= link_to "Sign In", login_index_path %></li>
          </ul>
    </body>
      <%= yield %>
</html>
